<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= name %>'s Trips Dashboard</h1>
    <a href="/trips/createNew">Start a new trip</a>
    <a href="/logout">Logout</a>

    <h2>My Trips</h2>
    <ul>
        <% for (let i = 0; i < userTrips.length; i++) { %>
           <li><a href="/trips/<%= userTrips[i]._id %>"><%= userTrips[i].tripName %></a></li>
        <% } %>
    </ul>

    <h2>Shared Trips</h2>
    <ul>
        <% for (let i = 0; i < sharedTrips.length; i++) { %>
           <li><a href="/trips/sharedTrip/<%= sharedTrips[i]._id %>"><%= sharedTrips[i].tripName %></a></li>
        <% } %>
    </ul>
</body>
</html>